/*---Fonts---*/

/*---Texts---*/
h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
}

h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.warning-text {
    color: orange;
    animation: blink 1s infinite;
}

.danger-text {
    color: red;
    animation: blink 1s infinite;
}


/*--- Contenedores ---*/
.modal-body {
    padding: 10px 50px !important;
}

.pagination {
    margin: 0;
    padding: 20px;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.6;
    /* Opcional: reduce la opacidad para indicar que está deshabilitado */
}

/*---Login---*/

.section-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1f2936;
    /*background-image: url("../media/images/background-blue.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;*/

}

.login-container {
    width: 400px;
    text-align: center;
    border-radius: 5px;
    background-color: #f3f4f7;
}

.login-container .content {
    padding: 30px;
}

.login-container .content .info {
    color: #6c757dbf;
    margin-bottom: 30px;
}

.login-container .content .info h2 {
    font-size: 20px;
    font-weight: bold;
}

.login-container .content .form {
    color: #6c757dbf;
}

.login-container .content .aditional {
    font-weight: bold;
}

.login-container .content .aditional a {
    color: #6c757dbf;
    margin: 0 4px;
}

.login-container .content .aditional a:hover {
    opacity: 0.7;
}

/*---Texboxes---*/

.textbox-line-select {
    width: 90px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: gray 1px solid;
    background-color: transparent;
}

/*---Buttons---*/

.ss-btn {
    border: lightgray 0.5px solid;
    border-radius: 5px;
    background-color: transparent;
    padding: 2px 20px;
    text-decoration: none;
    text-align: center;
    color: lightgray;
    font-weight: 400;
    transition: 0.2s;
}

.ss-btn.filters {
    border: gray 0.5px solid;
    background-color: transparent;
    color: gray;
}

.btn-basic {
    border: #8FDA00 0.5px solid;
    background-color: #8FDA00;
    color: #fff;
    transition: 0.2s;
}

.ss-btn.btn-danger {
    border: #dc3545 0.5px solid;
    background-color: #dc3545;
    color: #fff;
    transition: 0.2s;
}

.btn-bordered {
    text-align: center;
    background-color: transparent;
    color: #8FDA00;
    border: #8FDA00 2px solid;
    transition: 0.2s;
    border-radius: 5px;
}

.btn-active {
    width: 100%;
    background-color: #409ace;
    color: #fff;
    font-size: 70%;
    font-weight: bold;
    transition: 0.2s;
}

.ss-btn-lg {
    display: block;
    width: 100% !important;
}

.btn-basic:hover {
    background-color: rgba(143, 218, 0, 0.7);
}

.ss-btn.btn-danger:hover {
    background-color: rgba(220, 53, 69, 0.7);
}


/*---Tables---*/

.ss-table-container {
    min-height: calc(100vh - 180px) !important;
    padding: 15px 0;
}

.ss-table-container th {
    text-align: left;
}

.ss-table {}

.ss-table thead {}

.ss-table thead tr th {
    padding: 10px;
}

.ss-table tbody tr th {
    padding: 10px;
}

.ss-table tbody tr td {
    padding: 10px;
}

.ss-table tbody tr td i {
    color: gray;
    font-weight: bold;
    font-size: larger;
}

.row-text-12 {
    font-size: 14px;
}

.row-text-14 {
    font-size: 14px;
}

.row-text-16 {
    font-size: 16px;
}

/*---Helpers---*/
.hide-element {
    display: none !important;
}

.mobile {
    display: none;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 200px;
}


@media only screen and (max-width: 768px) {

    .section-login {
        padding: 30px;
        background-size: cover;
        background-position: center;

    }

    .modal-body {
        padding: 10px !important;
    }

}